<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "hc-euc-prov" %}
        {% set labname = "Provision & Expand" %}
        {% set val_name = "Provision" %}
    {% elif user.labname == "hc-euc-calm" %}
        {% set labname = "Dynamic Expansion with Calm Runbooks" %}
        {% set val_name = "Calm" %}
    {% else %}
        {% set labname = "Securing Desktops with Flow" %}
        {% set val_name = "Flow" %}
    {% endif %}


    <h2>Validator page for Hybrid Cloud EUC - {{ labname }} lab</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="Provision" %}
        <P> Show the validation information for the provisioning lab</P>

    {% elif val_name=="Calm" %}
        <P> Show the validation information for the Calm lab</P>

    {% else %}
        <P> Show the validation information for the Flow lab</P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <input type="text" size="20" name="validator" value="Your name">
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>