<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "hc-db-aav" %}
        {% set labname = "Multi-Cloud Application Availability" %}
        {% set val_name = "aav" %}
    {% elif user.labname == "hc-db-dam" %}
        {% set labname = "Multi-Cloud Data Access Management" %}
        {% set val_name = "dam" %}
    {% elif user.labname == "hc-db-mssql" %}
        {% set labname = "Patching SQL Server with Era" %}
        {% set val_name = "mssql" %}
    {% else %}
        {% set labname = "Application Monitoring ith Prism Ultimate" %}
        {% set val_name = "ultimate" %}
    {% endif %}


    <h2>Validator page for Hybrid Cloud IaaS - {{ labname }} lab</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="aav" %}
        <P> Go into <B>Era ( https://{{ user.pc_ip[:-2]}} 43)> Database Server VMs > List > USER0{{ user.userx }}#-SQLAG</B> and validate the server exists. It should have 2 VMs on EraCluster and 1 VM on AWS-Cluster. The status of the VMs may be red due to testing failover, this is expected.

        <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/DAAG.png">
        </P>

    {% elif val_name=="dam" %}
        <P> Show the validation information for the Data Access Management lab</P>

    {% elif val_name=="mssql" %}
        <P> Show the validation information for the Patching MSSQL lab</P>

    {% else %}
        <P> Show the validation information for the Prism Ultimate lab</P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>