<!doctype html>
<HTML>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <meta http-equiv="refresh" content="60; URL=/validator">
  <title>Validation dashboard</title>
</head>
<BODY>
<div class=page>
  <h1>Validation dashboard for {{ validator }}</h1>

<hr style="height:4px;border-width:0;background-color:#B0D235">

  <h3>Hybrid Cloud IaaS Labs</h3>
  <table class="table-bordered table">
    <TR>
      <th>First Name</th><th>Last Name</th><th>SNOW</th><th>Leap</th><th>SNOW and CMDB</th><th>SNOW and X-Play</th>
    </TR>
      {% for value in iaaslist %}
        <TR>
        {% if  value.split(',')[2] != "" and (value.split(',')[4] == "Pending" or value.split(',')[5] == "Pending" or value.split(',')[6] == "Pending" or value.split(',')[7] == "Pending" or value.split(',')[4] == "In progress" or value.split(',')[5] == "In progress" or value.split(',')[6] == "In progress" or value.split(',')[7] == "In progress") %}
          <TD>{{ value.split(',')[2] }}</TD><TD>{{ value.split(',')[3] }}</TD>
            {% if not "Validated" in value.split(',')[4] or not "Rejected" in value.split(',')[4] %}
              <TD><A HREF="/validator?lab=hc-iaas-snow&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}&snow_instance={{ value.split(',')[8] }}">{{ value.split(',')[4] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[5] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=hc-iaas-leap&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[5] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[6] or not "Rejected" in value.split(',')[6] %}
              <TD><A HREF="/validator?lab=hc-iaas-cmdb&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[6] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[7] or not "Rejected" in value.split(',')[7] %}
              <TD><A HREF="/validator?lab=hc-iaas-xplay&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[7] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}
        {% endif %}
        </TR>
      {% endfor %}
  </table>

<hr style="height:4px;border-width:0;background-color:#B0D235">

  <h3>Hybrid Cloud Database Management Labs</h3>
  <table class="table-bordered table">
    <TR>
      <th>First Name</th><th>Last Name</th><th>Application Availability</th><th>Data Access Management</th><th>MSSQL</th><th>Ultimate</th>
    </TR>

      {% for value in dblist %}
      <TR>
        {% if  value.split(',')[2] != "" and (value.split(',')[4] == "Pending" or value.split(',')[5] == "Pending" or value.split(',')[6] == "Pending" or value.split(',')[7] == "Pending" or value.split(',')[4] == "In progress" or value.split(',')[5] == "In progress" or value.split(',')[6] == "In progress" or value.split(',')[7] == "In progress") %}
          <TD>{{ value.split(',')[2] }}</TD><TD>{{ value.split(',')[3] }}</TD>
            {% if not "Validated" in value.split(',')[4] or not "Rejected" in value.split(',')[4] %}
              <TD><A HREF="/validator?lab=hc-db-aav&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[4] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[5] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=hc-db-dam&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[5] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[6] or not "Rejected" in value.split(',')[6] %}
              <TD><A HREF="/validator?lab=hc-db-mssql&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[6] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

           {% if not "Validated" in value.split(',')[7] or not "Rejected" in value.split(',')[7] %}
              <TD><A HREF="/validator?lab=hc-db-ultimate&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}">{{ value.split(',')[7] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}
        {% endif %}
      </TR>
      {% endfor %}

  </table>

<hr style="height:4px;border-width:0;background-color:#B0D235">

  <h3>Hybrid Cloud EUC Labs</h3>
  <table class="table-bordered table">
    <TR>
      <th>First Name</th><th>Last Name</th><th>Provision</th><th>Calm Runbooks</th><th>Security</th>
    </TR>
      {% for value in euclist %}
        <TR>
          {% if  value.split(',')[2] != "" and (value.split(',')[4] == "Pending" or value.split(',')[5] == "Pending" or value.split(',')[6] == "Pending" or value.split(',')[7] == "Pending" or value.split(',')[4] == "In progress" or value.split(',')[5] == "In progress" or value.split(',')[6] == "In progress" or value.split(',')[7] == "In progress") %}
          <TD>{{ value.split(',')[2] }}</TD><TD>{{ value.split(',')[3] }}</TD>
            {% if not "Validated" in value.split(',')[4] or not "Rejected" in value.split(',')[4] %}
              <TD><A HREF="/validator?lab=hc-euc-prov&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[4] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[5] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=hc-euc-calm&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[5] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[6] or not "Rejected" in value.split(',')[6] %}
              <TD><A HREF="/validator?lab=hc-euc-flow&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[6] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}
        {% endif %}
        </TR>
      {% endfor %}
  </table>

<hr style="height:4px;border-width:0;background-color:#B0D235">

  <h3>Containerizing Apps and CI/CD Labs</h3>
  <table class="table-bordered table">
    <TR>
      <th>First Name</th><th>Last Name</th><th>Use CI/CD</th><th>Use with Era</th>
    </TR>
      {% for value in cicdlist %}
        <TR>
          {% if  value.split(',')[2] != "" and (value.split(',')[4] == "Pending" or value.split(',')[5] == "Pending" or value.split(',')[6] == "Pending" or value.split(',')[7] == "Pending" or value.split(',')[4] == "In progress" or value.split(',')[5] == "In progress" or value.split(',')[6] == "In progress" or value.split(',')[7] == "In progress") %}
          <TD>{{ value.split(',')[2] }}</TD><TD>{{ value.split(',')[3] }}</TD>

            {% if not "Validated" in value.split(',')[5] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=cicd-use&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[5] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[6] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=cicd-era&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[6] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}
        {% endif %}
        </TR>
      {% endfor %}
  </table>

<hr style="height:4px;border-width:0;background-color:#B0D235">

  <h3>Cloud Native Apps on Nutanix Labs</h3>
  <table class="table-bordered table">
    <TR>
      <th>First Name</th><th>Last Name</th><th>K8s Configuration</th><th>Deployed Fiesta App</th><th>Day 2 operations</th>
    </TR>
      {% for value in cloudlist %}
      <TR>
        {% if  value.split(',')[2] != "" and (value.split(',')[4] == "Pending" or value.split(',')[5] == "Pending" or value.split(',')[6] == "Pending" or value.split(',')[7] == "Pending" or value.split(',')[4] == "In progress" or value.split(',')[5] == "In progress" or value.split(',')[6] == "In progress" or value.split(',')[7] == "In progress") %}
          <TD>{{ value.split(',')[2] }}</TD><TD>{{ value.split(',')[3] }}</TD>
            {% if not "Validated" in value.split(',')[4] or not "Rejected" in value.split(',')[4] %}
              <TD><A HREF="/validator?lab=cloud-k8s&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[4] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[5] or not "Rejected" in value.split(',')[5] %}
              <TD><A HREF="/validator?lab=cloud-fiesta&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[5] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}

            {% if not "Validated" in value.split(',')[6] or not "Rejected" in value.split(',')[6] %}
              <TD><A HREF="/validator?lab=cloud-day2&userx={{ value.split(',')[1] }}&usernr={{ value.split(',')[0] }}" target="_blank">{{ value.split(',')[6] }} </A></TD>
            {% else %}
              <TD>&nbsp;</TD>
            {% endif %}
        {% endif %}
      </TR>
      {% endfor %}
  </table>


<hr style="height:4px;border-width:0;background-color:#B0D235">
<CENTER><P><A href="/logout">Logout</A></P></CENTER>
</div>
</BODY>
</html>