<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <meta http-equiv="refresh" content="300; URL=/">
        <title>{{ title }}</title>
    </head>
    <body><center>
    {% if not user.attendee_name %}
        <h2>Lab User Lookup</h2>
        <P>Enter the email address used to register for Global Tech Summit below and click Lookup to access your Lab Environment
        Details and Self-Service Lab Validation.<BR>
        
        <B>Note:</B> Nutanix users who registered via Okta, the email should match your Okta username @nutanix.com address.</P>
        <form class="form-horizontal" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }} {{ form.email(size=32,value="") }} {{ form.submit(class="btn btn-primary") }}</p>
        </form>
    {% endif %}
    {% if error %}
    <H4>Email address {{ error.email }} has not been found in the database. Please try again</H4>
        {{ error.message }}

    {% else %}

        {% if user.attendee_name %}
        <hr>
        <h3>Self-Service Lab Validation</h3>
        <P>
        Once you have completed a lab exercise, select the specific exercise from the dropdown menu below and click Validate. A
        proctor will remotely connect to your cluster and verify the exercise has been completed. The status of which labs are
        pending
        <form class="form-horizontal" action="/validation" method="post" novalidate>
            <P>
                <input type="hidden" name="username" value="{{ user.attendee_name }}">
                <input type="hidden" name="clustername" value="{{ user.cluster_name }}">
                <input type="hidden" name="clusterip" value="{{ user.pe_vip }}">
                <input type="hidden" name="usernr" value="{{ user.uniq_nr }}">
                <input type="hidden" name="pcip" value="{{ user.pc_vip }}">
                <select id="lab" name="lab" size="1">
                    <option value="hc-iaas-snow">Hybrid Cloud IaaS - SNOW</option>
                    <option value="hc-iaas-leap">Hybrid Cloud IaaS - LEAP</option>
                    <option value="hc-iaas-cmdb">Hybrid Cloud IaaS - SNOW & CMDB</option>
                    <option value="hc-iaas-xplay">Hybrid Cloud IaaS - SNOW & XPlay</option>
                    <option value="hc-db-aav">Hybrid Cloud DB - Multi-Cloud Application Availability</option>
                    <option value="hc-db-dam">Hybrid Cloud DB - Multi-Cloud Data Access Management</option>
                    <option value="hc-db-mssql">Hybrid Cloud DB - Patch MSSQL</option>
                    <option value="hc-db-ultimate">Hybrid Cloud DB - Prism Ultimate</option>
                    <option value="hc-euc-prov">Hybrid Cloud EUC - Provision and Expand</option>
                    <option value="hc-euc-calm">Hybrid Cloud EUC - Calm Runbooks</option>
                    <option value="hc-euc-flow">Hybrid Cloud EUC - Securing Desktops with Flow</option>
                    <option value="cicd-cont">Containerize App & CICD - Containerize</option>
                    <option value="cicd-use">Containerize App & CICD - Using CICD</option>
                    <option value="cicd-era">Containerize App & CICD - Development and Era</option>
                    <option value="cloud-k8s">Cloud Native - Kubernetes configuration</option>
                    <option value="cloud-fiesta">Cloud Native - Fiesta Application</option>
                    <option value="cloud-day2">Cloud Native - Day 2 Operations</option>

                </select>
                <input type="Submit" class="btn btn-primary" value="Validate">
            </P>
        </form>
        </P>
        <hr>
        <h3>Your Lab Environment Details</h3>
        <P>Refer to the information below when completing your labs for USER## ID, IPs, credentials, and other information specific
        to your environment.</P>
            <table class="table-bordered table">
                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>General Information</B></center></td>
                </tr>
                <tr>
                    <th >Title</th>
                    <th >Value</th>
                </tr>
                <tr>
                    <td>Attendee Name</td>
                    <td>{{ user.attendee_name }}</td>
                </tr>
                {% if user.pretime=="no" %}
                <tr>
                    <td>USER## ID (Used as a common prefix throughout the lab, ex. USER01)</td>
                    {% if user.user_x | int < 10 %} 
                        <td>USER0{{ user.user_x }}</td>
                    {% else %}
                        <td>USER{{ user.user_x }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>HPOC Frame/VPN Username</td>
                    {% if user.user_x | int < 10 %}
                        <td>{{ user.cluster_name }}-User0{{ user.user_x }}</td>
                    {% else %}
                        <td>{{ user.cluster_name }}-User{{ user.user_x }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>HPOC Frame/VPN password</td>
                    <td>ntnxGTS2021!</td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>Nutanix Cluster Information</B></center></td>
                </tr>
                <tr>
                    <td>Prism Central IP</td>
                    <td>{{ user.pc_vip }}</td>
                </tr>
                <tr>
                    <td>On-premises (HPOC) Prism Element Cluster/Virtual IP</td>
                    <td>{{ user.pe_vip }}</td>
                </tr>
                <tr>
                    <td>AWS-Cluster Prism Element Cluster/Virtual IP</td>
                    <td>TBD</td>
                </tr>
                
                <TR>
                    <td>Prism Element/Prism Central Username</td>
                    <td>admin</td>
                </TR>
                <tr>
                    <td >Prism Element/Prism Central Password</td>
                    <td >{{ user.password }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#ff4455"><center><B>Active Directory Information</B></center></td>
                </tr>
                <tr>
                    <td>Domain Controller IP (DNS Server)</td>
                    <td>{{ user.pc_vip[:-2] }}41</td>
                </tr>
                <tr>
                    <td>Fully Qualified Domain Name</td>
                    <td>ntnxlab.local</td>
                </tr>
                <tr>
                    <td>Admin Username</td>
                    <td>Administrator</td>
                </tr>
                <tr>
                    <td>Admin Password</td>
                    <td>nutanix/4u</td>
                </tr>
                <tr>
                    <td>User Username</td>
                    {% if user.user_x | int < 10 %} 
                        <td>user0{{ user.user_x }}</td>
                    {% else %}
                        <td>user{{ user.user_x }}</td>
                    {% endif %}
                </tr>
                <TR>
                    <td>User Password</td>
                    <td>nutanix/4u</td>
                </tr>
                <TR>
                    <td>Developer username</td>
                    {% if user.user_x | int < 10 %} 
                        <td>devuser0{{ user.user_x }}</td>
                    {% else %}
                        <td>devuser{{ user.user_x }}</td>
                    {% endif %}
                </tr>
                <TR>
                    <td>Developer Password</td>
                    <td>nutanix/4u</td>
                </tr>
                <TR>
                    <td>Operator username</td>
                    {% if user.user_x | int < 10 %} 
                        <td>operator0{{ user.user_x }}</td>
                    {% else %}
                        <td>operator{{ user.user_x }}</td>
                    {% endif %}
                </tr>
                <TR>
                    <td>Operator Password</td>
                    <td>nutanix/4u</td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>Era Information</B></center></td>
                </tr>
                <tr>
                    <td >Era server IP</td>
                    <td >{{ user.pc_vip[:-2] }}44</td>
                </tr>
                <tr>
                    <td>Era Username</td>
                    <td>admin (will be same as PC creds)</td>
                </tr>
                <tr>
                    <td>Era Password</td>
                    <td>ntnxGTS2021!(will be same as PC creds)</td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>ServiceNow Information</B></center></td>
                </tr>
                <tr>
                    <td>ServiceNow Instance Name</td>
                    <td>dev###</td>
                </tr>
                <tr>
                    <td>ServiceNow Instance URL</td>
                    <td>https://dev####.service-now.com</td>
                </tr>
                <tr>
                    <td>ServiceNow Username</td>
                    <td>admin(will be same as PC creds)</td>
                </tr>
                <tr>
                    <td>ServiceNow password</td>
                    <td>ntnxGTS2021!(will be same as PC creds)</td>
                </tr>

                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>Karbon Information</B></center></td>
                </tr>
                <tr>
                    <td>Karbon Network for MetalLB</td>
                    <td>{{ user.karbon_start }} - {{ user.karbon_stop }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud IaaS labs</B></center></td>
                </tr>
                <tr>
                    <td >Self Service with ServiceNOW</td>
                    <td >{{ user.val_hc_snow }}</td>
                </tr>
                <tr>
                    <td>Cross-Cluster Migration with Leap</td>
                    <td>{{ user.val_hc_leap }}</td>
                </tr>
                <tr>
                    <td>ServiceNOW Alert & CMDB Integration</td>
                    <td>{{ user.val_hc_cmdb }}</td>
                </tr>
                <tr>
                    <td>Automated remediation with ServiceNOW and X-Play</td>
                    <td>{{ user.val_hc_xplay }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud Database Management</B></center></td>
                </tr>
                <tr>
                    <td >Multi-Cloud Application Avalability</td>
                    <td >{{ user.val_hc_db_aav }}</td>
                </tr>
                <tr>
                    <td >Multi-Cloud Data Access Management</td>
                    <td >{{ user.val_hc_db_dam }}</td>
                </tr>
                <tr>
                    <td >Patching SQL Server with Era</td>
                    <td >{{ user.val_hc_db_mssql }}</td>
                </tr>
                <tr>
                    <td >Prism Ultimate</td>
                    <td >{{ user.val_hc_db_ultimate }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud EUC</B></center></td>
                </tr>
                <tr>
                    <td >Provision & Expand</td>
                    <td >{{ user.val_hc_euc_prov }}</td>
                </tr>
                <tr>
                    <td >Dynamic Expansion with Calm Runbooks</td>
                    <td >{{ user.val_hc_euc_calm }}</td>
                </tr>
                <tr>
                    <td >Securing Desktops with Flow</td>
                    <td >{{ user.val_hc_euc_flow }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Containerizg Apps and CI/CD</B></center></td>
                </tr>
                <tr>
                    <td >Containerize the Fiesta App</td>
                    <td >{{ user.val_cicd_cont }}</td>
                </tr>
                <tr>
                    <td >Using the CI/CD infrastructure</td>
                    <td >{{ user.val_cicd_use }}</td>
                </tr>
                <tr>
                    <td >Getting a development environment with Era</td>
                    <td >{{ user.val_cicd_era }}</td>
                </tr>
                <TR>
                    <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Cloud Native Apps on Nutanix</B></center></td>
                </tr>
                <tr>
                    <td >Kubernetes configuration</td>
                    <td >{{ user.val_cloud_k8s }}</td>
                </tr>
                <tr>
                    <td >Fiesta Application</td>
                    <td >{{ user.val_cloud_fiesta }}</td>
                </tr>
                <tr>
                    <td >Day 2 Operations</td>
                    <td >{{ user.val_cloud_day2 }}</td>
                </tr>
            {% endif %}    
            </table>
        {% else %}
         <P>Please use this form to search for your information
         </P>

        {% endif %}

    {% endif %}
    <hr>
    <P><A href="/logout">Logout</A></P>
    </center>
    </body>
</html>