<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "hc-euc-prov" %}
        {% set labname = "Multi-Cloud Desktops with Citrix on AHV" %}
        {% set val_name = "Provision" %}
    {% elif user.labname == "hc-euc-calm" %}
        {% set labname = "Dynamic Expansion with Calm Runbooks" %}
        {% set val_name = "Calm" %}
    {% else %}
        {% set labname = "Securing Desktops with Flow" %}
        {% set val_name = "Flow" %}
    {% endif %}


    <h2>Validator page for Hybrid Cloud EUC - {{ labname }}</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="Provision" %}
        <P> 
            <B>RDP</B> to <B>Citrix Delivery Controller</B> VM ({{ user.pc_ip[:-2] }}44).<br><BR>
            Username: NTNXLAB\Administrator<BR><BR>
            Password: nutanix/4u<br><br>
            Open <B>Citrix Studio</B> if not already open.<BR><BR>
            Under <B>Machine Catalogs</B> validate there are <B><B>USER0{{ user.userx }} CLOUD</B>and <B>USER0{{ user.userx }} OPPREM</B> catalogs.<BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/EUC1.png"><br><BR>
            <B>NOTE::</B> Only one validator can be connected to the <B>Citrix Delivery Controller</B> VM via RDP at a time. If you get kicked out, it means someone else just tried to connect to that server. Give it a minute and try again.
        </P>

    {% elif val_name=="Calm" %}
        <P> 
            In <B>Prism Central ({{ user.pc_ip }}) > Calm > Runbooks > Execution History</B>, validate there is a successful execution of the <B>USER0{{ user.userx }} Add Desktop</B> runbook.<BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/EUC2.png"><br>
    
        </P>

    {% else %}
        <P> 
            In <B>Prism Central  ({{ user.pc_ip }}) > Policies > Security</P>, open the <B>USER0{{ user.userx }}-ADIsolate</B> policy.<BR><BR>
            Click the <B>#</B> next to <B>Bootcamp Users</B>.<br><BR>
            Validate there is at least one VM in the list of filtered VMs that matches the <B>USER0{{ user.userx }}</B><BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/EUC3.png">
        </P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>