<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "cicd-cont" %}
        {% set labname = "Containerize the Fiesta App" %}
        {% set val_name = "cont" %}
    {% elif user.labname == "cicd-use" %}
        {% set labname = "Building The Pipeline" %}
        {% set val_name = "use" %}
    {% else %}
        {% set labname = "Creating Development Databases with Era" %}
        {% set val_name = "era" %}
    {% endif %}


    <h2>Validator page for Containerize Apps and CI/CD - {{ labname }} lab</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="cont" %}
        <P> 
            Open Prism Central for <B>USER0{{ user.userx }}</B> using <B>https://{{ user.pc_ip }}:9440</B>.<BR>
            Get the IP address of the VM named <B>USER0{{ user.userx }}-docker_vm</B>.<BR><BR>
            Open in a web browser http://IP ADDRESS:5000/products<BR><BR>
            
            You should see something alike this screen:<BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/fiesta-1.png">
        </P>
        <P>If you see this screen the user has ran through all the steps for this lab to be validated.</P>


    {% elif val_name=="use" %}
        <P> 
            Open Prism Central for <B>USER0{{ user.userx }}</B> using <B>https://{{ user.pc_ip }}:9440</B>.<BR><BR>
            Get the IP address of the VM named <B>USER0{{ user.userx }}-docker_vm</B>.<BR><BR>
            Open in a web browser <B>http://IP ADDRESS:8080</B><BR><BR>
            Use for the login in Gitea: <b>USER0{{ user.userx }}</b> with password <B>nutanix/4u</B> (If not working, please ask {{ user.username }} for the credentials via Slack).<BR><BR>
            
            You should see something alike this screen:<BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/fiesta-2.png">
        </P>
        <P>If you see this screen the user has ran through all the steps for this lab to be validated.</P>

    {% else %}
        <P> 
            Open Prism Central for <B>USER0{{ user.userx }}</B> using <B>https://{{ user.pc_ip }}:9440</B>.<BR><BR>
            Get the IP address of the VM named <B>USER0{{ user.userx }}-docker_vm</B>.<BR><BR>
            Open in a web browser <B>http://IP ADDRESS:5050</B><BR><BR>
            
            You should see something alike this screen:<BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/fiesta-3.png">
        </P>
        <P>If you see this screen the user has ran through all the steps for this lab to be validated.</P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>