<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>
    <h2>Validator page for login...</h2>
    <P>Welcome to the login page for the validator</P>
    <br><br>
    <P>Please provide the password in the below text field</P>
    <form class="form-horizontal" action="/validateme" method="post" novalidate>
        <P>
            <input type="password" size="20" name="val_password" value="">
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>