<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>
    {% if user.userx == "1" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "2" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "3" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "4" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "5" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "6" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% elif user.userx == "7" %}
        {% set k8s-ip = user.pc_ip[:-2] %}
    {% endif %}

    {% if user.labname == "cloud-k8s" %}
        {% set labname = "Kubernetes configuration" %}
        {% set val_name = "k8s" %}
    {% elif user.labname == "cloud-fiesta" %}
        {% set labname = "Fiesta Application" %}
        {% set val_name = "fiesta" %}
    {% else %}
        {% set labname = "Day 2 Operations" %}
        {% set val_name = "day2" %}
    {% endif %}


    <h2>Validator page for Cloud Native Apps on Nutanix - {{ labname }} lab</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="k8s" %}
        <P> Follow these steps to validate {{ user.username }}
            <ul>
                <ul>
                    <li>Open in a web browser http://{{ k8s-ip }}:8080</li>
                </ul>
            </ul>

            You should see something alike this screen:
            <img src="https://s3.amazonaws.com/handsonworkshops.prod.media/ws/4d3eaa5afa06408e8823954301b5713a/i/file/f8efcbdbe75f4e269cc918b8bbb56de1/168.png">
        </P>
        <P>If you see this screen the user has ran through all the steps for this lab to be validated.</P>

    {% elif val_name=="fiesta" %}
        <P> Follow these steps to validate {{ user.username }}.
            <ul>
                <ul>
                    <li>Open in a web browser http://{{ k8s-ip }}:8080.</li>
                    <li>Look for a line (in the red square) as shown in the below screenshot.</li>
                </ul>
            </ul>

            You should see something alike this screen:
            <img src="https://s3.amazonaws.com/handsonworkshops.prod.media/ws/4d3eaa5afa06408e8823954301b5713a/i/file/f8efcbdbe75f4e269cc918b8bbb56de1/711.png">
        </P>

    {% else %}
        <P> Follow these steps to validte 
            <ul>
                <li>Open Prism Central for user {{ user.userx }} using IP address {{ user.pc_ip }}.</li>
                <li>Open the Objects Store <B>nutanix-objects</B></li>
                <li>Open the Bucket, normally <b>{{ user.userx }}-k10-bucket</b></li>
            </ul>
            
            You should see something alike this screen:
            <img src="https://s3.amazonaws.com/handsonworkshops.prod.media/ws/4d3eaa5afa06408e8823954301b5713a/i/file/f8efcbdbe75f4e269cc918b8bbb56de1/516.png">
        </P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>