<html>
<head>
    <title>Validation Request for {{ info.username }} for lab {{ info.labname.upper() }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="refresh" content="5; URL=/validator">
</head>
<body>
    <h3>Validated has been received...</h3>
    Hi {{ info.validator }}!<BR><BR>
    We have received your validation and have updated the data in the system.
    That way the attendee you validated, <B>{{ info.username }}</B> for lab <B>{{ info.labname }}</B> sees it in the cluster overview page.
    <hr>
    You will be redirected back to the validator page in 5 seconds...


</body>
</html>