<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if info.validated == "Yes" %}
            <meta http-equiv="refresh" content="2; URL=/validator">
        {% endif %}
        <title>{{ title }}</title>
        <script type="text/javascript">
        <!--

            function validate_form ( )
            {
                valid = true;

                if ( document.validator_frm.validator.value == "bogus" )
                {
                    alert ( "Please select a correct validator name..." );
                    valid = false;
                }

                return valid;
            }

        //-->
        </script>
    </head>
    <body>
    <center>
    <h2>Validator page for login...</h2>
    {% if info.validated != "Yes" %}
        <P>Welcome to the login page for the validator</P>
        <br><br>
        <P>Please provide the password in the below text field</P>
        <form class="form-horizontal" action="/validateme" method="POST" novalidate name="validator_frm" onsubmit="return validate_form()">
            <P>

                <input type="password" size="20" name="val_password" value=""><BR><BR>
                Please provide your validator name from the below dropdown box<BR><BR>
                <select id="validator" name="validator" size="1">
                    <option value="bogus" selected>---- Select your name ----</option>
                    <option value="bogus"></option>
                    {% for name in info.validator %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}

                </select>
                <BR>
            </P>
            <P>
                <input type="Submit" class="btn btn-primary" value="Login">
            </P>
        </form>
    {% else %}
        <P>You have been validated.. We will redirect you in 2 seconds to the validator page</P>
    {% endif %}
    </center>
    </body>
</html>