<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "hc-iaas-snow" %}
        {% set labname = "Self-Service with ServiceNow" %}
        {% set val_name = "SNOW" %}
    {% elif user.labname == "hc-iaas-leap" %}
        {% set labname = "Cross-Cluster DR and Migration with Leap" %}
        {% set val_name = "LEAP" %}
    {% elif user.labname == "hc-iaas-leap" %}
        {% set labname = "ServiceNOW Alert & CMDB Integration" %}
        {% set val_name = "CMDB" %}
    {% else %}
        {% set labname = "ServiceNOW and X-Play" %}
        {% set val_name = "XPlay" %}
    {% endif %}


    <h2>Validator page for Hybrid Cloud IaaS - {{ labname }}</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="SNOW" %}
        <P> Log into their ServiceNow instance at <B><A HREF="http://{{ user.snow_instance }}.service-now.com/login.do?user_name=admin&sys_action=sysverb_login&user_password=ntnxGTS2021%21">http://{{ user.snow_instance }}.service-now.com/login.do?user_name=admin&sys_action=sysverb_login&user_password=ntnxGTS2021%21</A>.<BR><BR>
            Under <B>ServiceNow > Nutanix Calm > Catalog Items</B> and validate they have created a <B>USER0{{ user.userx }} CentOS</B> catalog item that corresponds to their specific blueprint and project.
            <BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/SNOW.png">
        </P>

    {% elif val_name=="LEAP" %}
        <P> 
            In <B>Prism Central (<B>https://{{ user.pc_ip }}:9440</B>) > Policies > Recovery Plans</B>, validate the <B>USER0{{ user.userx }}-DR</B> policy <B>Last Failover Status</B> is <B>Succeeded with Warnings</B>
            <BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/LEAP.png">
        </P>

    {% elif val_name=="CMDB" %}
        <P> 
            In <B>Prism Central (<B>https://{{ user.pc_ip }}:9440</B>) > Operations > Playbooks > List</B>,open the <B>USER0{{ user.userx }} Alerts</B> playbook.<BR><BR>
            
            Under <B>Plays</B>, validate the playbook has at least one <B>Succeeded</B> execution.
            <BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/CMDB.png">
        </P>

    {% else %}
        <P> 
            In <B>Prism Central (<B>https://{{ user.pc_ip }}:9440</B>) > Operations > Playbooks > List</B>,open the <B>USER0{{ user.userx }} Memory Add</B> playbook.<BR><BR>
            
            Under <B>Plays</B>, validate the playbook has at least one <B>Succeeded</B> execution.
            <BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/XPLAY.png">
        </P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="I Validate">
        </P>
    </form>
    </center>
    </body>
</html>