<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <meta http-equiv="refresh" content="600; URL=/">
        <title>{{ title }}</title>
        <script type="text/javascript">
        <!--

            function validate_form ( )
            {
                valid = true;

                if ( document.lab_val.lab.value == "bogus" )
                {
                    alert ( "Please select a valid lab for validation..." );
                    valid = false;
                }

                return valid;
            }

        //-->
        </script>
    </head>
    <body><center>
    {% if not user.attendee_name %}
        <h2>Lab User Lookup</h2>
        <P>Enter the email address used to register for Global Tech Summit below and click Lookup to access your Lab Environment
        Details and Self-Service Lab Validation.<BR>
        </P>
        <!--
        <P><font color="red">Complete environment details will not be available in the lookup tool until the labs go live on Tuesday morning. Prior to this time, you should expect to return a record containing only Attendee Name - if that exists, you have a lab assignment!</font>
        -->
        </P>
        
        
        <B>Note:</B> Nutanix users who registered via Okta, the email should match your Okta username @nutanix.com address.</P>
        <form class="form-horizontal" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }} {{ form.email(size=32,value="") }} {{ form.submit(class="btn btn-primary") }}</p>
        </form>
    {% endif %}
    {% if error %}
    <H4>Email address {{ error.email }} has not been found in the database. Please try again</H4>
        {{ error.message }}

    {% else %}
        {% if user.attendee_name %}
            
        <hr>
        <h3>Your Lab Environment Details</h3>
        <P>Refer to the information below when completing your labs for USER## ID, IPs, credentials, and other information specific
        to your environment.</P>
            <table class="table-bordered table">
                <tr>
                    <td colspan="2" bgcolor="#ff4455"><center><B>General Information</B></center></td>
                </tr>
                <tr>
                    <th >Title</th>
                    <th >Value</th>
                </tr>
                <tr>
                    <td>Attendee Name</td>
                    <td>{{ user.attendee_name }}</td>
                </tr>
                {% if user.pretime != "Yes" %}
                    <tr>
                        <td>USER## ID (Used as a common prefix throughout the lab, ex. USER01)</td>
                        {% if user.user_x | int < 10 %} 
                            <td>USER0{{ user.user_x }}</td>
                        {% else %}
                            <td>USER{{ user.user_x }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>HPOC Frame/VPN Username</td>
                        {% if user.user_x | int < 10 %}
                            <td>{{ user.cluster_name }}-User0{{ user.user_x }}</td>
                        {% else %}
                            <td>{{ user.cluster_name }}-User{{ user.user_x }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>HPOC Frame/VPN password</td>
                        <td>ntnxGTS2021!</td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#ff4455"><center><B>Nutanix Cluster Information</B></center></td>
                    </tr>
                    <tr>
                        <td>Prism Central IP</td>
                        <td><a href="https://{{ user.pc_vip }}:9440" target="_blank">https://{{ user.pc_vip }}:9440</a></td>
                    </tr>
                    <tr>
                        <td>On-premises (HPOC) Prism Element Cluster/Virtual IP</td>
                        <td><a href="https://{{ user.pe_vip }}:9440" target="_blank">https://{{ user.pe_vip }}:9440</a></td>
                    </tr>
                    <tr>
                        <td>AWS-Cluster Prism Element Cluster/Virtual IP</td>
                        <td><a href="https://{{ user.aws_ip }}:9440" target="_blank">https://{{ user.aws_ip }}:9440</a></td>
                    </tr>

                    <TR>
                        <td>Prism Element/Prism Central Username</td>
                        <td>admin</td>
                    </TR>
                    <tr>
                        <td >Prism Element/Prism Central Password</td>
                        <td >{{ user.password }}</td>
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#ff4455"><center><B>Active Directory Information</B></center></td>
                    </tr>
                    <tr>
                        <td>Domain Controller IP (DNS Server)</td>
                        <td>{{ user.pc_vip[:-2] }}41</td>
                    </tr>
                    <tr>
                        <td>Fully Qualified Domain Name</td>
                        <td>ntnxlab.local</td>
                    </tr>
                    <tr>
                        <td>Admin Username</td>
                        <td>Administrator</td>
                    </tr>
                    <tr>
                        <td>Admin Password</td>
                        <td>nutanix/4u</td>
                    </tr>
                    <tr>
                        <td>User Username</td>
                        {% if user.user_x | int < 10 %} 
                            <td>user0{{ user.user_x }}</td>
                        {% else %}
                            <td>user{{ user.user_x }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td>User Password</td>
                        <td>nutanix/4u</td>
                    </tr>
                    <TR>
                        <td>Developer username</td>
                        {% if user.user_x | int < 10 %} 
                            <td>devuser0{{ user.user_x }}</td>
                        {% else %}
                            <td>devuser{{ user.user_x }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td>Developer Password</td>
                        <td>nutanix/4u</td>
                    </tr>
                    <TR>
                        <td>Operator username</td>
                        {% if user.user_x | int < 10 %} 
                            <td>operator0{{ user.user_x }}</td>
                        {% else %}
                            <td>operator{{ user.user_x }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td>Operator Password</td>
                        <td>nutanix/4u</td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#ff4455"><center><B>Era Information</B></center></td>
                    </tr>
                    <tr>
                        <td >Era server IP</td>
                        <td ><a href="https://{{ user.aws_ip[:-1] }}209" target="_blank">https://{{ user.aws_ip[:-1] }}209</a></td>
                    </tr>
                    <tr>
                        <td>Era Username</td>
                        <td>admin (Same as PC creds)</td>
                    </tr>
                    <tr>
                        <td>Era Password</td>
                        <td>ntnxGTS2021! (Same as PC creds)</td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#ff4455"><center><B>ServiceNow Information</B></center></td>
                    </tr>
                    <tr>
                        <td>ServiceNow Instance Name</td>
                        <td>{{ user.snow_instance }}</td>
                    </tr>
                    <tr>
                        <td>ServiceNow Instance URL</td>
                        <td><a href="https://{{ user.snow_instance }}.service-now.com" target=_blank>https://{{ user.snow_instance }}.service-now.com</a></td>
                    </tr>
                    <tr>
                        <td>ServiceNow Username</td>
                        <td>admin (Same as PC creds)</td>
                    </tr>
                    <tr>
                        <td>ServiceNow password</td>
                        <td>ntnxGTS2021! (Same as PC creds)</td>
                    </tr>

                    <tr>
                        <td colspan="2" bgcolor="#ff4455"><center><B>Karbon Information</B></center></td>
                    </tr>
                    <tr>
                        <td>Karbon Network for MetalLB</td>
                        <td>{{ user.karbon_start }}-{{ user.karbon_stop }}</td>
                    </tr>
                    <TR><TD colspan="2"><HR></TD></TR>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center>
                            <P>
                            <hr>
                            <h3>Self-Service Lab Validation</h3>
                            <P>
                                Once you have completed a lab exercise, select the specific exercise from the dropdown menu below and click Validate. A proctor will remotely connect to your cluster and verify the exercise has been completed. Validation Status can be viewed below Environment Details below
                            </P>
                            <form name="lab_val" class="form-horizontal" action="/validation" method="post" novalidate onsubmit="return validate_form()">
                                <input type="hidden" name="username" value="{{ user.attendee_name }}">
                                <input type="hidden" name="clustername" value="{{ user.cluster_name }}">
                                <input type="hidden" name="clusterip" value="{{ user.pe_vip }}">
                                <input type="hidden" name="usernr" value="{{ user.uniq_nr }}">
                                <input type="hidden" name="pcip" value="{{ user.pc_vip }}">
                                <select id="lab" name="lab" size="1">
                                    <option value="bogus" selected>---- Select your lab for validation ----</option>
                                    <option value="bogus"> </option>
                                    {% if user.val_hc_snow.split(';')[0] == "Rejected" or user.val_hc_snow == "" %}
                                        <option value="hc-iaas-snow">Hybrid Cloud IaaS - Self Service with ServiceNOW</option>
                                    {% endif %}
                                    {% if user.val_hc_leap.split(';')[0] == "Rejected" or user.val_hc_leap == "" %}
                                        <option value="hc-iaas-leap">Hybrid Cloud IaaS - Cross-Cluster DR and Migration</option>
                                    {% endif %}
                                    {% if user.val_hc_cmdb.split(';')[0] == "Rejected" or user.val_hc_cmdb == "" %}
                                        <option value="hc-iaas-cmdb">Hybrid Cloud IaaS - ServiceNOW Alert & CMDB Integration</option>
                                    {% endif %}
                                    {% if user.val_hc_xplay.split(';')[0] == "Rejected" or user.val_hc_xplay == "" %}
                                        <option value="hc-iaas-xplay">Hybrid Cloud IaaS - Automated remediation with ServiceNOW and X-Play</option>
                                    {% endif %}
                                    {% if user.val_hc_db_aav.split(';')[0] == "Rejected" or user.val_hc_db_aav == "" %}
                                        <option value="hc-db-aav">Hybrid Cloud DB - Multi-Cloud Application Availability</option>
                                    {% endif %}
                                    {% if user.val_hc_db_dam.split(';')[0] == "Rejected" or user.val_hc_db_dam == "" %}
                                        <option value="hc-db-dam">Hybrid Cloud DB - Multi-Cloud Data Access Management</option>
                                    {% endif %}
                                    {% if user.val_hc_db_mssql.split(';')[0] == "Rejected" or user.val_hc_db_mssql == "" %}
                                        <option value="hc-db-mssql">Hybrid Cloud DB - Patching SQL server with Era</option>
                                    {% endif %}
                                    {% if user.val_hc_db_ultimate.split(';')[0] == "Rejected" or user.val_hc_db_ultimate == "" %}
                                        <option value="hc-db-ultimate">Hybrid Cloud DB - Application Monitoring with Prism Ultimate</option>
                                    {% endif %}
                                    {% if user.val_hc_euc_prov.split(';')[0] == "Rejected" or user.val_hc_euc_prov == "" %}
                                        <option value="hc-euc-prov">Hybrid Cloud EUC - Multi-Cloud Desktops with Citrix on AHV</option>
                                    {% endif %}
                                    {% if user.val_hc_euc_calm.split(';')[0] == "Rejected" or user.val_hc_euc_calm == "" %}
                                        <option value="hc-euc-calm">Hybrid Cloud EUC - Dynamic Expansion with Calm Runbooks</option>
                                    {% endif %}
                                    {% if user.val_hc_euc_flow.split(';')[0] == "Rejected" or user.val_hc_euc_flow == "" %}
                                        <option value="hc-euc-flow">Hybrid Cloud EUC - Securing Desktops with Flow</option>
                                    {% endif %}
                                    {% if user.val_cicd_use.split(';')[0] == "Rejected" or user.val_cicd_use == "" %}
                                        <option value="cicd-use">Containerize App and CICD - Building The Pipeline</option>
                                    {% endif %}
                                    {% if user.val_cicd_era.split(';')[0] == "Rejected" or user.val_cicd_era == "" %}
                                        <option value="cicd-era">Containerize App and CICD - Creating Development Databases with Era</option>
                                    {% endif %}
                                    {% if user.val_cloud_k8s.split(';')[0] == "Rejected" or user.val_cloud_k8s == "" %}
                                        <option value="cloud-k8s">Cloud Native Apps on Nutanix - Adding Network Services & Dashboards</option>
                                    {% endif %}
                                    {% if user.val_cloud_fiesta.split(';')[0] == "Rejected" or user.val_cloud_fiesta == "" %}
                                        <option value="cloud-fiesta">Cloud Native Apps on Nutanix - Deploying Fiesta Web Service</option>
                                    {% endif %}
                                    {% if user.val_cloud_day2.split(';')[0] == "Rejected" or user.val_cloud_day2 == "" %}
                                        <option value="cloud-day2">Cloud Native Apps on Nutanix - Day 2 Operations</option>
                                    {% endif %}

                                    </select>
                                    <input type="Submit" class="btn btn-primary" value="Validate">
                                </P>
                            </form>
                            </P>
                            </center></td>
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud IaaS labs</B></center></td>
                    </TR>
                    <tr>
                        <td >Self Service with ServiceNOW</td>
                        {% if user.val_hc_snow.split(';')[0] == "Rejected" %}
                            <td >{{ user.val_hc_snow.split(';')[0] }}. The validation request has been denied by the validator as it did not meet the validation criteria. <BR>You can direct questions regarding this rejection to <B>{{ user.val_hc_snow.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01P09AB7EC">#gtsapac-snow</a>.</td>
                        {% else %}
                            <td >{{ user.val_hc_snow }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Cross-Cluster DR and Migration with Leap</td>
                        {% if user.val_hc_leap.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_leap.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. <BR>You can direct questions regarding this rejection to <B>{{ user.val_hc_leap.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01P09AB7EC">#gtsapac-snow</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_leap }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>ServiceNOW Alert & CMDB Integration</td>
                        {% if user.val_hc_cmdb.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_cmdb.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_cmdb.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01P09AB7EC">#gtsapac-snow</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_cmdb }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Automated remediation with ServiceNOW and X-Play</td>
                        {% if user.val_hc_xplay.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_xplay.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_xplay.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01P09AB7EC">#gtsapac-snow</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_xplay }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud Database Management</B></center></td>
                    </tr>
                    <tr>
                        <td >Multi-Cloud Application Avalability</td>
                        {% if user.val_hc_db_aav.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_db_aav.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_db_aav.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01NP3E77C1">#gtsapac-db</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_db_aav }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Multi-Cloud Data Access Management</td>
                        {% if user.val_hc_db_dam.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_db_dam.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_db_dam.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01NP3E77C1">#gtsapac-db</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_db_dam }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Patching SQL Server with Era</td>
                        {% if user.val_hc_db_mssql.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_db_mssql.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_db_mssql.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01NP3E77C1">#gtsapac-db</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_db_mssql }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Application Monitoring with Prism Ultimate</td>
                        {% if user.val_hc_db_ultimate.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_db_ultimate.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_db_ultimate.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01NP3E77C1">#gtsapac-db</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_db_ultimate }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Hybrid Cloud EUC</B></center></td>
                    </tr>
                    <tr>
                        <td >Multi-Cloud Desktops with Citrix on AHV</td>
                        {% if user.val_hc_euc_prov.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_euc_prov.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_euc_prov.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01MVLYCKJT">#gtsapac-euc</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_euc_prov }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Dynamic Expansion with Calm Runbooks</td>
                         {% if user.val_hc_euc_calm.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_euc_calm.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_euc_calm.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01MVLYCKJT">#gtsapac-euc</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_euc_calm }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Securing Desktops with Flow</td>
                         {% if user.val_hc_euc_flow.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_hc_euc_flow.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_hc_euc_flow.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01MVLYCKJT">#gtsapac-euc</a>.</td>
                        {% else %}
                            <td>{{ user.val_hc_euc_flow }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Containerize App & CICD</B></center></td>
                    </tr>
                    <tr>
                        <td >Building The Pipeline</td>
                         {% if user.val_cicd_use.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_cicd_use.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_cicd_use.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01N3M44PFY">#gtsapac-cicd</a>.</td>
                        {% else %}
                            <td>{{ user.val_cicd_use }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Creating Development Databases with Era</td>
                         {% if user.val_cicd_era.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_cicd_era.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_cicd_era.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01N3M44PFY">#gtsapac-cicd</a>.</td>
                        {% else %}
                            <td>{{ user.val_cicd_era }}</td>
                        {% endif %}
                    </tr>
                    <TR>
                        <td colspan="2" bgcolor="#B0D235"><center><B>Validation status - Cloud Native Apps on Nutanix</B></center></td>
                    </tr>
                    <tr>
                        <td >Adding Network Services & Dashboards</td>
                         {% if user.val_cloud_k8s.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_cloud_k8s.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_cloud_k8s.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01N3M1462J">#gtsapac-karbon</a>.</td>
                        {% else %}
                            <td>{{ user.val_cloud_k8s }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Deploying Fiesta Web Service</td>
                         {% if user.val_cloud_fiesta.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_cloud_fiesta.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_cloud_fiesta.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01N3M1462J">#gtsapac-karbon</a>.</td>
                        {% else %}
                            <td>{{ user.val_cloud_fiesta }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td >Day 2 Operations</td>
                         {% if user.val_cloud_day2.split(';')[0] == "Rejected" %}
                            <td>{{ user.val_cloud_day2.split(';')[0] }}. The validation request has been rejected by the validator as it did not meet the validation criteria. You can direct questions regarding this rejection to <B>{{ user.val_cloud_day2.split(';')[1] }}</b> in <a href="slack://channel?team=T0252CLM8&id=C01N3M1462J">#gtsapac-karbon</a>.</td>
                        {% else %}
                            <td>{{ user.val_cloud_day2 }}</td>
                        {% endif %}
                    </tr>
                {% endif %}    
            </table>
            <hr>
            <P><A href="/logout">Logout</A></P>
        {% endif %}
        
    {% endif %}
    
    </center>
    </body>
</html>