<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>

    {% if user.labname == "hc-db-aav" %}
        {% set labname = "Multi-Cloud Application Availability" %}
        {% set val_name = "aav" %}
    {% elif user.labname == "hc-db-dam" %}
        {% set labname = "Multi-Cloud Data Access Management" %}
        {% set val_name = "dam" %}
    {% elif user.labname == "hc-db-mssql" %}
        {% set labname = "Patching SQL Server with Era" %}
        {% set val_name = "mssql" %}
    {% else %}
        {% set labname = "Application Monitoring ith Prism Ultimate" %}
        {% set val_name = "ultimate" %}
    {% endif %}


    <h2>Validator page for Hybrid Cloud Database Management - {{ labname }}</h2>

    <P>
    Below is the information for user <B>{{ user.username }} </B>that has asked validation.<BR><BR>
    <table class="table-bordered table">
        <tr>
            <td><B>Full name</B></td>
            <TD>{{ user.username }}</TD>
        </tr>
        <TR>
            <td><B>User number (UserX)</B></td>
            <TD>{{ user.userx }}</TD>
        </TR>

        <tr>
            <td><B>Cluster name</B></td>
            <TD>{{ user.clustername }}</TD>
        </tr>
        <tr>
            <td><B>Cluster IP</B></td>
            <TD>{{ user.clusterip }}</TD>
        </tr>
        <TR>
            <td><B>Prism Central IP</B></td>
            <TD>{{ user.pc_ip }}</TD>
        </TR>

    </table>
    <HR>
    <P>Please make sure the user has the following created for the validation</P>

    {% if val_name=="aav" %}
        <P> 
            Go into Era <a href="https://{{ user.pc_ip[:-2] }}43" target="_blank">(<B>https://{{ user.pc_ip[:-2] }}43</B>)</a> > Database Server VMs > List > <B>USER0{{ user.userx }}#-SQLAG</B> and validate the server exists. It should have 2 VMs on EraCluster and 1 VM on AWS-Cluster. The status of the VMs may be red due to testing failover, this is expected.<BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/DAAG.png">
        </P>

    {% elif val_name=="dam" %}
        <P> 
            Go into <B>Era <a href="https://{{ user.pc_ip[:-2] }}43" target="_blank">(<B>https://{{ user.pc_ip[:-2] }}43</B>)</a> > Databases > Sources</B> and find the <B>USER0{{ user.userx }}-SampleDB</B><BR><BR>

            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/DAM.png">
            <br><BR>
            Go into Era <a href="https://{{ user.pc_ip[:-2] }}43" target="_blank">(<B>https://{{ user.pc_ip[:-2] }}43</B>)</a><BR><BR>
            Click the <B>1</B>> to view the list of clones for that Database.<BR><BR>
            Click the name of the clone that appears (there should only be 1).<BR><BR>
            Under <B>Database Server VM</B>, the <B>Name</B> should be the <B>USER0{{ user.userx }}-SampleDBVM</B> provisioned earlier in the lab.<BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/DAM1.png">
        </P>

    {% elif val_name=="mssql" %}
        <P> 
            In <B>Era <a href="https://{{ user.pc_ip[:-2] }}43" target="_blank">(<B>https://{{ user.pc_ip[:-2] }}43</B>)</a> > Database Server VMs > List</B>, select the <B>USER0{{ user.userx }}-SampleDBVM</B><BR><BR>
            Under <B>Software Profile Version</B>, validate the <B>Current Version</B> is <B>2.0</B>.

        </P>

    {% else %}
        <P> 
            In <B>Prism Central <a href="http://{{ user.pc_ip }}:9440" target="_blank"> (<B>https://{{ user.pc_ip }}:9440</B>) </a>> VMs</B>, search for <B>USER0{{ user.userx }}-MSSQL-Source VM</B> and note the IP address.<BR><BR>
            In <B>Prism Central > Operations > Integrations</B>, validate the <B>USER0{{ user.userx }}-MSSQL-Source VM</B> IP address appears in the list of <B>External Entity Instances</B> and is <B>Active</B>. <BR><BR>
            <img src="https://raw.githubusercontent.com/wessenstam/eca_app/master/images/MON.png">

        </P>

    {% endif %}


    <HR>
        <P>If you agree that the user can be validated, please click the <B>I validate</B> button<BR><BR></P>
    <form class="form-horizontal" action="/validator" method="post" novalidate>
        <P>
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="hidden" name="usernr" value="{{ user.usernr }}">
            <input type="hidden" name="labname" value="{{ user.labname }}">
            <!-- <input type="text" size="20" name="validator" value="Your name"> -->
            <input type="Submit" class="btn btn-primary" value="Validate" name="action">
            <input type="Submit" class="btn btn-primary" value="Reject" name="action">
        </P>
    </form>
    </center>
    </body>
</html>